.Header {
    display: flex;
    background-color: rgb(202, 201, 201);
    justify-content: flex-end;
    padding: 20px 100px 20px 100px;
}

.NavBar ul {
    display: flex;  
}

.NavBar ul li {
    padding-right: 50px;
    list-style: none;
    
}


.NavBar ul li a {
    text-decoration: none;
    color: black;
}

