@import url('reset-css');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

body {
  font-family: 'Shippori Antique', sans-serif;;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
